a {
  text-decoration: none;
}
details{
    margin: auto;
}
li,
p {
  font-size: 18px;
}

body {
 font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  align-items: flex-start;
  background-color:  #D0BC98;

  color: #272622;

  
}

h1{
    font-size: 32pt;
}
strong {
  font-weight: bold;
}

summary {
  font-size: 16pt;
 
}

.pin {
  list-style-image: url(pin.png);
}

.details {
  font-size: 14pt;
}

.lastObj {
  /* position: absolute; */
  padding-bottom: 5%;
  align-self: center;
}

.flexCenter {
  align-self: center;
  padding-top: 1%;
}
